/*---------------------
    Blog
-----------------------*/
.blog {
    padding-bottom: 55px;
}

.latest {
    padding-bottom: 55px;
}

.blog__item {
    margin-bottom: 45px;
    border-radius: 8px;
    overflow: hidden;
    background: $white-color;
    box-shadow: 0px 5px 25px rgba(67, 69, 70, 0.08);
    @include transition(all, .3s);

    &:hover {

        a {

            &::after {
                width: 40px;
                background: $primary-color;
            }
        }

        .blog__item__text {
            box-shadow: inset 0px 5px 25px rgba(67, 69, 70, 0.05);
        }
    }

}

.blog__item__pic {
    height: 310px;
    display: block;
    width: 100%;
}

.blog__item__text {
    padding: 25px 25px 20px;
    margin: 0;
    background: $white-color;
    @include transition(all, .3s);

    span {
        color: #3d3d3d;
        font-size: 13px;
        display: block;
        margin-bottom: 10px;

        img {
            margin-right: 6px;
        }
    }

    h5 {
        color: #0d0d0d;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 10px;
    }

    a {
        display: inline-block;
        color: $heading-color;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 4px;
        text-transform: uppercase;
        padding: 3px 0;
        position: relative;

        &:after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: $heading-color;
            content: "";
            @include transition(all, .3s);
        }
    }
}