/* You can add global styles to this file, and also import other style files */

// Male Fashion Theme Styles
// Theme CSS files are imported via angular.json styles array
// This ensures proper font path resolution and bundling

// This file can be used for custom overrides and additional styling

.product__item__pic .product__hover li i {
	background: #ffffff;
	padding: 10px;
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	color: #111111;
	border-radius: 50%;
}

.product__item:hover .product__item__text h6 {
	opacity: 1;
}

.product__item__text h6 a {
	position: static;
	top: auto;
	opacity: 1;
	visibility: visible;
}
