/* You can add global styles to this file, and also import other style files */

// Male Fashion Theme Styles
// Theme is located in src/assets/theme
// CSS files are already imported via angular.json
// This file can be used for custom overrides and additional styling
